sounddevice
soundfile
soundcard
pydub
scipy
openai-whisper
ffmpeg-python
torch
torchaudio


langchain
langchain-text-splitters
langchain-core
langchain-community
langchain-mistralai        
langchain-groq      
mistralai         
groq         
sentence-transformers
langchain-huggingface  
tiktoken
watchdog
python-dotenv              
numpy
tqdm                      
requests
customtkinter
pyinstaller